body {
	
}

#barbearia{
	width: 100%;
	margin-right: 20px
}

.principal{
	background: #CCCCCC;
	padding: 30px;
}

.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center;
	font-size: 1.7em;
	margin-top: 0px;
}

p { 
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: red;
}

.titulo-secundário {
	font-size: 35px;
	margin-left: 20px;
	margin-bottom: 20px;
}



.Benefícios{
	background: #FFFFFF;
	padding-left:20px;
}

.itens {
	font-style: italic;
	padding-bottom: 10px
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 25%;
	font-size: 24px;
	line-height:65px;
}

nav a {
	text-decoration:none;
}
.imagembeneficio {
	width: 50%;
}
